<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>WITG?</title>
    </head>
    <body>
        <h1>Test header</h1>

        <div class="map">
            Group selected: <%= group %> <br>
            Locations: <%= data %>
        </div>
    </body>
</html>