<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>WITG?</title>
    </head>
    <body>
        <h1>WITG? Test show-er</h1>

        <form  method="POST">
            <label for="group">Group:</label><br>
            <input type="text" id="group" name="group">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name"><br>
            <label for="lat">Lat:</label><br>
            <input type="text" id="lat" name="lat">
            <label for="lng">Lng:</label><br>
            <input type="text" id="lng" name="lng">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>