<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>WITG?</title>
    </head>
    <body>
        <h1>Test poster</h1>

        <form  method="POST">
            <label for="group">Group:</label><br>
            <input type="text" id="group" name="group">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name"><br>
            <label for="location">Location:</label><br>
            <input type="text" id="location" name="location">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>